@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Pietro Rodrigues Alves<br />
    Avenida Vasco Rodrigues, 241 - Peixinhos - Olinda/PE<br />
    <abbr title="Phone"></abbr>
    +55 81 99925-5843
</address>

<address>
    <strong>Support:</strong> <a href="mailto:pietrorodrigues@gmail.com">pietrorodrigues@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:pietrorodrigues@gmail.com">pietrorodrigues@gmail.com</a>
</address>
